<div class="sidebar">
        
        <div class="sidebar-section">
            <h5><span>Dernier Tweet</span></h5>
            {% include twitter.html %}
        </div>
            
        <div class="sidebar-section">
            <h5><span>Utile</span></h5>
            <ul style="list-none;">
            <li><a target="blank" href="https://itch.io/">itch.io</a></li>
            <li><a target="blank" href="https://lospec.com/">lospec.com</a></li>
            <li><a target="blank" href="https://opengameart.org/">opengameart.org</a></li>
            <li><a target="blank" href="https://2dwillneverdie.com/">2dwillneverdie.com</a></li>
            <li><a target="blank" href="https://www.piskelapp.com">piskelapp.com</a></li>
            </ul>
        </div>           
</div>
