<div class="sidebar">
        
        <div class="sidebar-section">
            <h5><span>Sur Twitter</span></h5>
            {% include twitter.html %}
        </div>
            
        <div class="sidebar-section">
            <h5><span>Utile</span></h5>
            <ul style="list-none;">
            <li><a target="blank" href="https://itch.io/">ITCH</a></li>
            <li><a target="blank" href="https://lospec.com/">LOSPEC</a></li>
            <li><a target="blank" href="https://opengameart.org/">OPEN GAME ART</a></li>
            <li><a target="blank" href="https://2dwillneverdie.com/">2D WILL NEVER DIE</a></li>
            <li><a target="blank" href="https://www.piskelapp.com">PISKEL</a></li>
            </ul>
        </div>           
</div>
